#container{

    display:grid;
    
    grid-template-areas: 'a'
    'b';

    margin: auto;
    max-width: 800px;


}
h1{
    text-align: center;
}

#formcontainer{
    grid-area: a;
    padding: 20px;
}
#tablecontainer{
    grid-area: b;
    padding: 20px;
}
.buttonstyle{

width: 150px;
height:50px;
background-color: blue;
font-weight: bold;
font-size:large;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 
  tfoot td{
      text-align: right;
  }  






